#mobile {
    position: fixed;
    display: block;
    color: #fff;
    z-index: 9;
}

#mobile.open {
    border-bottom-right-radius: 30px;
    animation: backgroundFadeIn 2s;
    background: rgba(0,0,0,.9);
    padding: 1.5% 1.9% 1% 1%;
}

#mobile.closed {
    border-bottom-right-radius: 15px;
    animation: backgroundFadeIn 2s;
    background: rgba(0,0,0,.9);
    padding: 1.5% 1.9% 1% 1%;
}

.md.hydrated {
    font-size: 2em;
}

#mobile-menu a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 2% 4%;
    font-size: 1.25em;
}

#mobile-menu > a {
    display: block;
    text-align: left;
    transition: 1s;
    animation: fadeInBottom 1s;
}

#mobile-menu > a:hover {
    cursor: pointer;
}

@keyframes backgroundFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background: rgba(0,0,0,.9);
    }
}

@keyframes fadeInBottom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
